@import "bootstrap";
@import "mixins";
@import "colors";

body {
	
	 border-top: 3px solid $mint;
	
}
.main_container{
	padding:40px 130px; 
	@include body_gradient;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}

.side_menu_container {
	background:#ffffff;
	@include side_menu_border;
	border-bottom: 1px solid #ffffff;
}

.side_menu{
	
	border-style:solid;
	border-color:#bbbbbb;
	border-width:2px;
	padding: 15px;
	@include side_menu_gradient;
	@include side_menu_border;
	border: 1px solid #bbbbbb;
	margin-bottom: 1px;

}

.side_heading, .first_word{
	font-weight:bold;
}

h3.sub_heading {
    font-family: 'Lobster', Georgia, Times, serif;
    font-size: 30px;
    font-weight: 400;
}

p {
    font-family: 'Cabin', Helvetica, Arial, sans-serif;
    font-size: 15px;
    line-height: 25px;
}

.main_header{
	margin-bottom: 12px;
}
 
 .main_nav span{
 	margin-right: 10px;
 }

 .main_title_mint{
	@include main_title_style;
 	font-weight: 200;
    color:$mint;
 }
 .main_title_digital{
	@include main_title_style;
 	font-weight: 400;
 }
.instructions li{
	margin-bottom: 1em;
}

a:link, 
a:visited,
a:active {
	color: $mint;
}

a:hover {
	color: $mint; text-decoration:none;
}

.contact_info{
	margin-top:65px;
}

.ie8_message {
	display:none;	
}

.lighten{
	opacity:0.8
}