<div class="row ie8_message">
  <div class="span12 ">
    This version of Internet Explorer is outdated.<br>
    It's probably making this site look strange. Please
    <%= link_to "download the latest version from Microsoft", "http://windows.microsoft.com/en-us/internet-explorer/download-ie" %>.
  </div>
</div>
