<div class="main_header">
  <div class="row">
    <div class="span12">
      <h1><span class="main_title_mint">MINT</span>
        <span class="main_title_digital">DIGITAL</span></h1>
      <div class="main_nav">
        <span>PORTFOLIO</span><span>PEOPLE</span><span>CONTACT</span>
        <span><%= link_to "BLOG", "http://mintdigital.com/blog" %></span>
      </div>
    </div>
  </div>
</div>
